################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Applied-Math-2-sem/FileContentIndex/57094169-0a4b-441b-a729-04d2a60aa19a.vsidx
/.vs/Applied-Math-2-sem/v16/TestStore/0/000.testlog
/.vs/Applied-Math-2-sem/v16/TestStore/0/testlog.manifest
/.vs/Applied-Math-2-sem/v16/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
