################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Applied-Math-2-sem/FileContentIndex/57094169-0a4b-441b-a729-04d2a60aa19a.vsidx
